.menu {
  width: 294px;
  height: 100vh;
}
.menu-list {
  li:hover {
    color:$success;
    border-left: 4px solid $success;
  }
}
.person-photo {
  height: 40px;
  width: 40px;
  background: url("https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80") no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}